<html>
<head>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="elements.js"></script>
<script type="text/javascript" src="score_calc.js">
</script>
</head>

<% 
   require "./score_calc.rb"

   num_jumps = 8;
   num_spins = 3;
   num_stsq = 1;
   num_chsq = 1;

   score_calc = ScoreCalc.new
   elements = score_calc.elements

%>

<body onLoad="recalc();">

<h1>Figureskating Score Calculator</h1>

<h2> Technical Element Score</h2>


<table border="1">
  <tr>
    <th>Type</th>
    <th>Element</th>
    <th>credit</th>
    <th>GOE</th>
    <th>Name</th>
    <th>BV</th>
    <th>GOE/SOV</th>
    <th>Score</th>
    <th>Comment</th>
  </tr>
  <% (1..num_jumps).each {|i| %>
  <tr id="jump<%= i %>">
    <td>Jump<%= i %></td>
    <td>
      <!-- jump type (solo/comb2/bomc3) -->
      <select class="type" onChange="recalc()";>
	<option value="solo">solo</option>
	<option value="comb2">comb2</option>
	<option value="comb3">comb3</option>
      </select>
      <!-- First jump -->
      <span class="first">
	<select class="element" onChange="recalc();">
	  <option value=""></option>
	  <% elements.values.select {|elem| elem.type == :jump}.each {|elem| %>
	  <option value="<%= elem.name %>"><%= elem.name %></option>
	  <% } %>
	</select>
	<select class="edge" onChange="recalc();">
	  <option value=""></option>
	  <option value="!">!</option>
	  <option value="e">e</option>
	</select>
	<select class="rotation" onChange="recalc()">
	  <option value=""></option>
	<option value="<">&lt;</option>
	  <option value="<<">&lt;&lt;</option>
	</select>
      </span>

      <!-- Second jump -->
      <span class="second">
	-
	<select class="element" onChange="recalc();">
	  <option value=""></option>
	  <% elements.values.select {|elem| elem.type == :jump}.each {|elem| %>
	  <option value="<%= elem.name %>"><%= elem.name %></option>
	  <% } %>
	</select>
	<select class="edge" onChange="recalc();">
	  <option value=""></option>
	  <option value="!">!</option>
	  <option value="e">e</option>
	</select>
	<select class="rotation" onChange="recalc()">
	  <option value=""></option>
	<option value="<">&lt;</option>
	  <option value="<<">&lt;&lt;</option>
	</select>
      </span>

      <!-- thid jump -->
      <span class="third">
	-
	<select class="element" onChange="recalc();">
	  <option value=""></option>
	  <% elements.values.select {|elem| elem.type == :jump}.each {|elem| %>
	  <option value="<%= elem.name %>"><%= elem.name %></option>
	  <% } %>
	</select>
	<select class="edge" onChange="recalc();">
	  <option value=""></option>
	  <option value="!">!</option>
	  <option value="e">e</option>
	</select>
	<select class="rotation" onChange="recalc()">
	  <option value=""></option>
	<option value="<">&lt;</option>
	  <option value="<<">&lt;&lt;</option>
	</select>
      </span>
    </td>
    <td>
      <select class="credit" onChange="recalc()">
	<option value=""></option>
	<option value="x">x</option>
      </select>
    </td>
    <td>
      <select class="goe" onChange="recalc()">
	<option value="-3">-3</option>
	<option value="-2">-2</option>
	<option value="-1">-1</option>
	<option value="0" selected>0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
      </select>
    </td>
    <td><span class="name"></span>
    <td><span class="bv"></span>
    <td><span class="goe_sov"></span>
    <td><span class="score"></span>	
    <td><span class="comment"></span>
  </tr>

  <% } %>
  <!-- spin -->
  <% (1..num_spins).each {|i| %>
  <tr id="spin<%= i %>">
    <td>Spin<%= i %>
    <td>
      <select class="flying" onChange="recalc();">
	<option value=""></option>
	<option value="F">F</option>
      </select>
      <select class="changefoot" onChange="recalc();">
	<option value=""></option>
	<option value="C">C</option>
      </select>
      <select class="position" onChange="recalc();">
	<option value=""></option>
	<option value="USp">USp</option>
	<option value="LSp">LSp</option>
	<option value="SSp">SSp</option>
	<option value="CSp">CSp</option>
	<option value="CoSp2p">CoSp2p</option>
	<option value="CoSp3p">CoSp3p</option>
      </select>
      <select class="level" onChange="recalc();">
	<option value=""></option>
	<option value="B">B</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
      </select>
    </td>
    <td><span class="credit"></span>
    <td>
      <select class="goe" onChange="recalc()">
	<option value="-3">-3</option>
	<option value="-2">-2</option>
	<option value="-1">-1</option>
	<option value="0" selected>0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
      </select>
    <td><span class="name"></span>
    <td><span class="bv"></span>
    <td><span class="goe_sov"></span>
    <td><span class="score"></span>	
    <td><span class="comment"></span>
  </tr>
  <% } %>

  <!-- StSq -->
  <tr id="stsq1">
    <td>StSq1
    <td>
      <select class="element" onChange="recalc();">
	<option value=""></option>
	<option value="StSqB">StSqB</option>
	<option value="StSq1">StSq1</option>
	<option value="StSq2">StSq2</option>
	<option value="StSq3">StSq3</option>
	<option value="StSq4">StSq4</option>
      </select>
    </td>
    <td><span class="credit"></span>
    <td>
      <select class="goe" onChange="recalc()">
	<option value="-3">-3</option>
	<option value="-2">-2</option>
	<option value="-1">-1</option>
	<option value="0" selected>0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
      </select>
    <td><span class="name"></span>
    <td><span class="bv"></span>
    <td><span class="goe_sov"></span>
    <td><span class="score"></span>	
    <td><span class="comment"></span>
  </tr>

  <!-- Choreo -->
  <tr id="chsq1">
    <td>ChSq1
    <td>
      <select class="element" onChange="recalc();">
	<option value=""></option>
	<option value="ChSq1">ChSq1</option>
      </select>
    </td>
    <td><span class="credit"></span>
    <td>
      <select class="goe" onChange="recalc()">
	<option value="-3">-3</option>
	<option value="-2">-2</option>
	<option value="-1">-1</option>
	<option value="0" selected>0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
      </select>
    <td><span class="name"></span>
    <td><span class="bv"></span>
    <td><span class="goe_sov"></span>
    <td><span class="score"></span>	
    <td><span class="comment"></span>
  </tr>


  <tr id="tes">
    <td>Total
    <td>
    <td>
    <td>
    <td>
    <td><span class="bv">
    <td><span class="goe_sov">
    <td><span class="score">
</table>

</body>
</html>
